body {
  /*background-color: #f5f6f8;*/
  background-color: white;
  margin: 0;
  font-family: Ubuntu;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #app, #app>div {
  height: 100%
}

html {
  --block-shadow: 10px 15px 40px rgba(83, 91, 110, 0.11);
}

#root {
  height: 100vh;
}

.terminal {
  font-size: 48px;
  box-shadow: var(--block-shadow);
  margin: 2rem 5rem;
  background-color: white;
  width: 78rem;
  height: 10rem;
  border-radius: 10px;
  border: 1px solid;
  opacity: 80%;
}

.block {
  /*box-shadow: var(--block-shadow);*/
  /*background-color: white;*/
  /*border-radius: 10px;*/
  width: 900px;
  height: 350px;
  margin: 0 auto;
  padding: 30px 40px;
}

.buttons {
  background: url(../../public/traffic_lights.svg) center center / 100% 100%;
  height: 1rem;
  width: 6rem;
  margin-left: 0.5rem;
  margin-top: 0.8rem;
}

.small-section {
  height: 40vh;
}

.main-section {
  height: 100vh;
  background-image: url(../../public/st-petersburg-2.jpg);
  background-position: center;
}

.button {
  padding: 1rem 0.5rem;
  text-decoration: none;
  border-radius: 15px;
  background-color: white;
  border: solid 2px #333;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.button.active {
  color: white;
  background-color: #333;
}

h3 {
  margin-block-start: 0px;
  margin-block-end: 0.33rem;
}